{{!< monitorDashboard}}
<div class="container">
  <form
    action="/monitor/reports/{{report.ReportID}}/create"
    method="post"
    class="row g-3 needs-validation"
  >
    {{! Name }}
    <div class="col-md-6 mx-auto">
      <label for="validationCustom01" class="form-label">Name</label>
      <input
        type="text"
        name="Name"
        disabled
        class="form-control input"
        id="validationCustom01"
        value="{{report.Name}}"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! session }}
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Session</label>
      <select
        class="form-select input"
        name="SessionID"
        id="validationCustom04"
      >
        <option selected disabled value="">Choose...</option>
        {{#each sessions}}
          <option value="{{this.SessionID}}">{{this.SessionID}}</option>

        {{/each}}
      </select>
      <div class="invalid-feedback">
        Please select a valid Organization.
      </div>
    </div>
    {{! value }}
    <div class="col-12 mx-auto">
      <label for="validationCustom01" class="form-label">Value</label>
      <textarea
        name="Value"
        class="form-control input"
        id="validationCustom01"
        required
      ></textarea>

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12 mx-auto mt-4">
      <button
        class="btn btn-primary"
        id="uploadButton"
        type="submit"
        onclick="createUser();"
      >Submit form</button>
    </div>
  </form>
</div>