* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;

  /* background-image: radial-gradient(circle, rgba(123, 123, 123, 0.63), rgba(74, 39, 130, 0.3)); */
  background-color: #dddddd;
  color: #000;
}

.header {
  overflow: auto;
  position: relative;
  width: 100%;
  background-color: #2e5a92;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  z-index: 50;
  color: #fff;
}

.header h1 {
  color: #fff;
  margin-left: 10px;
  flex-grow: 1;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;
  background-color: #2e5a92;
  transition: left 0.3s;
  padding-top: 60px;
  z-index: 50;
  overflow: hidden;
}

#closeModal {
  position: absolute;
  top: 20;
  left: 10;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

.sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  padding: 20px;
  margin-top: 60px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  text-decoration: underline;
}

.chart-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.chart-container {
  display: inline-block;
  margin-left: 30px;
}

.sidebar {
  /* Other properties */
  transition: left 0.3s ease;
  left: -200px;
  position: absolute;
}

.sidebar.active {
  left: 0;
}
.chart-options {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center; /* Add this line to center-align the radio buttons */
}

.chart-options label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chart-options input {
  margin-right: 5px;
}

.logo {
  height: 40px; /* Set the height of the logo according to your design */
  margin-right: 20px;
}
