{{!< dashboard}}
<div class="container">
  <div class="row">
    {{! Email }}
    <div class="col-12">
      <label for="validationCustom01" class="form-label">Email</label>
      <input
        type="text"
        name="Email"
        class="form-control input"
        id="validationCustom01"
        value="{{session.Course}}"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! Password }}
    <div class="col-12">
      <label for="validationCustom01" class="form-label">Password</label>
      <input
        type="password"
        name="Password"
        class="form-control input"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! Username }}
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Username</label>
      <input
        type="text"
        name="Username"
        class="form-control input"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! user role }}
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">User Type</label>
      <select
        class="form-select input"
        name="UserType"
        id="validationCustom04"
        required
      >
        <option selected disabled value="">Choose...</option>
        <option value="TRAINER">Trainer</option>
        <option value="ADMIN">Admin</option>
        <option value="STUDENT">Student</option>
        <option value="MONITOR">Monitor</option>
        <option value="MANAGER">Manager</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid Organization.
      </div>
    </div>
    {{! Program }}
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Program</label>
      <select
        class="form-select input"
        name="ProgramID"
        id="validationCustom04"
      >
        <option selected disabled value="">Choose...</option>
        {{#each programs}}
          <option value="{{this.ProgramID}}">{{this.Name}}</option>

        {{/each}}
      </select>
      <div class="invalid-feedback">
        Please select a valid Organization.
      </div>
    </div>
    {{! user profile }}
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Profile Image
        (optional)</label>
      <input
        type="file"
        name="ProfilePicture"
        class="form-control fileInput"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-12">
      <button
        class="btn btn-primary"
        id="uploadButton"
        type="button"
        onclick="createUser();"
      >Submit form</button>
    </div>
  </div></div>

<script defer src="/js/admin/createUser.js"></script>