{{!< dashboard}}
<div class="container">
  <form
    method="post"
    action="/admin/clients/create"
    class="row g-3 needs-validation"
    id="updateForm"
  >
    {{! Email }}
    <div class="col-12">
      <label for="validationCustom01" class="form-label">Email</label>
      <input
        type="text"
        name="Email"
        class="form-control"
        id="validationCustom01"
        value="{{session.Course}}"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! Password }}
    <div class="col-12">
      <label for="validationCustom01" class="form-label">Password</label>
      <input
        type="password"
        name="Password"
        class="form-control"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! Username }}
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">Username</label>
      <input
        type="text"
        name="Username"
        class="form-control"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    {{! Organization }}
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Organization</label>
      <select class="form-select" name="ThirdPartyID" id="validationCustom04">
        <option selected disabled value="">Choose...</option>
        {{#each organizations}}
          <option value="{{this.ThirdPartyID}}">{{this.Name}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        Please select a valid Organization.
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form></div>