{{!< managerDashboard}}

<link rel="stylesheet" href="/css/admin/programs.css" />

<style>
  /* Additional styles specific to the Programs section */ .programs-container {
  display: flex; flex-wrap: wrap; gap: 20px; padding: 20px; } .program-card {
  background-color: #fff; padding: 15px; border-radius: 8px; box-shadow: 0 4px
  8px rgba(0, 0, 0, 0.1); width: 300px; } .program-card h3 { color: #2E5A92; }
  .add-button { background-color: #2E5A92; color: #fff; padding: 10px 15px;
  border: none; border-radius: 5px; cursor: pointer; margin-left: 20px; }
  .add-button:hover { background-color: #2E5ABB; }
</style>

<div class="content">
  <button class="add-button"><a
      style="color:white; text-decoration:none"
      href="/admin/program/create"
    >
      Add Program</a></button>

  <div class="programs-container">
    {{#each programs}}
      <a href="/admin/programs/{{this.ProgramID}}">
        <div class="program-card">
          <h3>{{this.Name}}</h3>
          <p>ID: {{this.ProgramID}}</p>
          <p>Donor: {{this.DonorOrganization}}</p>
        </div></a>
    {{/each}}
  </div>
</div>

{{! <script src="/js/admin/programs.js"></script> }}