{{!< studentDashboard}}

<style>
  .profile-container { max-width: 800px; margin: 50px auto; border-radius: 8px;
  padding: 20px; } .profile-header { text-align: center; } .avatar { width:
  120px; height: 120px; border-radius: 50%; margin-bottom: 10px; object-fit:
  cover; } .username { margin: 0; color: #333; } .user-bio { margin: 5px 0;
  color: #666; } .profile-details { margin-top: 20px; text-align:center; }
  .profile-details h2 { color: #333; } .profile-details ul { list-style: none;
  padding: 0; } .profile-details li { margin-bottom: 10px; } .profile-details li
  strong { display: inline-block; width: 100px; font-weight: bold; color: #555;
  }

</style>
<div class="container">
  <div class="profile-container">
    <div class="profile-header">
      <img src="{{user.ProfilePicture}}" alt="User Avatar" class="avatar" />
      <h1 class="username">{{user.Username}}</h1>
    </div>
    <div class="profile-details">
      <h2>Contact Information</h2>
      <ul>
        <li><strong>Email:</strong>{{user.Email}}</li>
        <li><strong>Program:</strong>{{program.Name}}</li>
      </ul>
    </div>
  </div>
</div>
<script src="/js/student/dashboard.js"></script>
<script src="/js/student/uploadDocuments.js"></script>